/*   This is fishcreek.css   */

header, nav, main, footer{
	display: block;
}

* {
	box-sizing: border-box;
}

body{
	background-color: #6699FF;
	color: #D5E3FF;
	font-family: "Verdana", "Arial", serif;
	background-image: url("gradientblue.jpg");
}

#wrapper{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	min-width: 700px;
	max-width: 1024px;
	background-color: #FFFFFF;
	color: #000066;
}

header{
	background-color: #000066;
	color: #FFFFFF;
	background-image: url("bigfish.gif");
	background-repeat: no-repeat;
	background-position: center;
}

h1{
	text-align: center;
	font-size: 3em;
	padding: 10px;
	line-height: 150%;
	text-shadow: 1px 1px 1px #CCCCCC;
}

nav{
	font-weight: bold;
	float: left;
	width: 150px;
}

nav ul{
	list-style-type: none;
}

nav a{
	text-decoration: none;
}

nav a:link{
	color: #3262A3;
}

nav a:visited{
	color: #6699FF;
}

nav a:hover{
	color: #CCCCCC;
}

main{
	margin-left: 180px;
	padding-right: 20px;
	padding-bottom: 20px;
}

label{
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 1em;
}

input, textarea{
	display: block;
	margin-bottom: 1em;
}

#mySubmit{
	margin-left: 9.5em;
}

video{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}

table{
	border: 2px solid #00008B;
	border-collapse: collapse;
}

td, th{
	padding: 0.5em;
	border: 1px solid #00008B;
}

.category{
	font-weight: bold;
	background-color: #FFFFFF;
	color: #003366;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #667
}

img{
	border: none;
}

footer{
	font-size: .70em;
	font-style: italic;
	padding: 10px;
	margin-left: 180px;
}

#mobile{
	display: none;
}

#desktop{
	display: inline;
}

@media only screen and (max-width: 1024px){

	body{
		margin: 0;
		padding: 0;
		background-color: #FFFFFF;
		background-image: none;
	}
	
	#wrapper{
		width: auto;
		min-width: 0;
		margin: 0;
	}
	
	h1{
		margin: 0;
		font-size: 1.8em;
		line-height: 200%;
	}
	
	nav{
		float: none;
		width: auto;
	}
	
	nav li{
		display: inline-block;
	}
	
	nav a{
		padding: 1em;
		font-size: 1.2em;
	}
	
	nav ul{
		text-align: center;
		padding: 0;
		margin: 0;
	}
	
	main{
		font-size: 90%;
		margin: 0;
		padding-left: 2em;
	}
	
	footer{
		margin: 0;
	}
}

@media only screen and (max-width: 768px){
	
	header{
		background-image: url("lilfish.gif");
		background-repeat: no-repeat;
		background-position: center;
	}
	
	h1{
		font-size: 1.5em;
		line-height: 120%;
	}
	
	nav a{
		display: block;
		padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #330000;
	}
	
	nav li{
		display: block;
	}
	
	nav ul{
		text-align: left;
	}
	
	main{
		padding-left: 1em;
	}
	
	.category{
		text-shadow: none;
	}
	
	#mobile{
		display: inline;
	}
	
	#desktop{
		display: none;
	}
}